#root {
  max-width: 1280px;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  /* padding: 2rem; */
  /* text-align: center; */
}

/* Header */
.header {
  margin: 0;
  padding: 1rem;
  height: 5rem;
  width: 100%;
  vertical-align: middle;
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}
.header div {
  display: inline-flex;
  text-align: center;
}
#logo {
  display: inline;
  padding: 0.25rem 1rem 0 2rem;
  justify-content: flex-start;
  height: 100%;
}
.header h1 {
  display: inline;
  align-self: center;
  margin: 0;
  font-size: 3rem;
}
.filters {
  align-self: center;
}
.filters ul {
  list-style-type: none;
  text-align: center;
  /* bottom: 48%;
  transform: translateY(48%); */
}
.filters ul li {
  display: inline;
  padding: 1rem;
}
.filters ul a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
}
.searchbar {
  display: inline-flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-right: 3rem;
  margin-bottom: 0;
  border-radius: 1rem;
}
.searchbar input {
  padding: 1rem;
  border-radius: 1rem;
  width: 20rem;
}
/* End header */

.right-side-container {
  display: flex;
  flex-direction:column;
  float: right;
  max-width: 25rem;
}

.theme-selector {
  float: right;
  margin-top: 3rem;
  margin-right: 2rem;
  padding: 0.5em;
  border: 1px solid blueviolet;
  border-radius: 2rem;
  text-align: center;
}
.theme-selector button {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.theme-selector #blueviolet {
  color: blueviolet;
}
.theme-selector #cornflowerblue {
  color: cornflowerblue;
}
.theme-selector #crimson {
  color: crimson;
}

.about {
  float: right;
  margin-top: 3rem;
  margin-right: 2rem;
  padding: 1em;
  border: 1px solid blueviolet;
  border-radius: 3rem;
}
.about h2 {
  text-decoration: underline;
}
.about h2, .about h4 {
  text-align: center;
}